/* navbar styling */
.navbar-dark{
	color: #ffffff
}
.fixed-bottom, .fixed-top {
	position: fixed;
	z-index:1030;
	right: 0;
	left: 0;
}
.fixed-top {
	top: 0;
}
.navbar, .navbar > .container, .navbar > .container-fluid {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.navbar {
	padding: 1.25rem 1rem;
}
*, ::after, ::before {
	box-sizing: border-box;
}
/*
.nav-link{ margin-right: 1em;}

.nav-link:hover{ background: #f4f4f4; color: #f97300; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:white;}

.navbar-collapse{
	justify-content: flex-end;
}
body {
	font-family: 'Arvo', serif;
}
*/
