/* Global Styling*/

.home {
	background-image: url("../img/home.jpg");
}



#navbar dark{
	color: #313131;
}

.fixed-top {
	top: 0;
}

.navbar>.container,
.navbar>.container-fluid home{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
#navbar .navbar-brand {
	color: #880000;
	font-size: 1.5rem;
}

#navbar .navBar-link {
	color: #ff0e0c;
}

#navbar .navBar-link:hover {
	color: white;
}

background-image: url(img/home.jpg
